*, 
html, 
body {
  margin: 0;
  padding: 0;
  font-family: "calibri", sans-serif;  
}

.fContainer {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 0px;
    width: 100%;
    background-color: rgb(253, 255, 155) ;
      
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding: 0px;
        width: 100%;
        background-color: rgb(252, 252, 116);
        border-bottom: 2px solid black;
        box-shadow: black;
        
    }    
        

        .logo {
            list-style-type: none;
            padding: 16px 24px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }

        .logo:hover {
            width: 70px;
            height: 70px;
            border-radius: 70px;
            transition: all .3s ease-in-out;
        }
  
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 24px;
        }

        .menu > button > a:hover{
            color: crimson;
            background-color: gold;
            background-size: auto;
            transition: all .3s ease-in-out;
        }

        .menu  > button > a {
            color:black;
            padding: 5px;
            font-size: 20px;
            text-decoration: none;
            text-transform: capitalize;
            border: 1px ;
            cursor: pointer;
            transition: 0,3s background-color ease-in-out;
        }
    }

    .sambutan {
        display: flex;
        flex-direction: column;
        padding: 10px;
        
    }
        
    .sambutan > h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 500;
    }

    .sambutan > p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: 50;
    }

    .vdo-slideshow  {
        padding: 0px;
        padding-top: 15px;
        padding-right: 15px;
        width: 100%;
        height: 50%;  
    }

    .our {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
        height: 300px;
        background-color: gold;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        box-shadow:  black;
    }

    .our > h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: 1000;
        padding: 5px;
    }

    .lokasi {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px;
        
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .lokasi>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    .form-massage {
        display: flex;
        justify-content: left space-around;
        align-items: center;
        font-size: 20px;

    }

    @media only screen  and (max-width: 600px) {
        .wrapper {
        flex-direction: column;
        }

        .menu {
            width: 100%;
            flex-direction: column;
        }  

        .logo {
            margin-bottom: 14px;
        }
       
        .form-massage {
            flex-direction: column;
        }
        

}